{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "plugins": ["react"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "react/no-this-in-sfc": "error",
    "react/no-access-state-in-setstate": "error",
    "react/no-direct-mutation-state": "error",
    "class-methods-use-this": "error",
    "react/no-unused-state": "error",
    "react/no-will-update-set-state": "error",
    "react/no-is-mounted": "error",
    "react/void-dom-elements-no-children": "error",
    "react/jsx-no-bind": "error",
    "react/jsx-curly-brace-presence": "error",
    "react/prop-types": [0]
  }
}
