header {
  box-shadow: 0px 9px 25px 1px rgba(0,0,0,0.75);
}

.rimba-title {
  flex: 1;
}

.header-image {
  width: 100%;
}

.login-window-loading {
  margin: auto;
}

.left-link-button {
  margin-right: auto !important;
}

.notification-content {
  display: flex;
  align-items: center;
}
.notification-content svg {
  margin-right: 1rem;
}

.footer {
  text-align: center;
  box-shadow: 0px -9px 25px 1px rgba(0,0,0,0.75);
}
/*#client-snackbar {*/
  /*display: flex;*/
  /*align-items: center;*/
/*}*/
/*#client-snackbar svg {*/
  /*margin-right: 1rem;*/
/*}*/