{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "globals": {
    "document": true,
    "window": true,
    "process": true
  },
  "plugins": ["react"],
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
